## Import NumPy and Pandas

In [1]:
import numpy as np
import pandas as pd

## Get "Absenteeism-data.csv" original file

In [2]:
raw_csv_data = pd.read_csv("Absenteeism-data.csv")

## Display data

In [3]:
#raw_csv_data

## Create a copy from the original file

In [4]:
df = raw_csv_data.copy()

In [5]:
#df

## Display all columns and rows

In [6]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [7]:
#display(df)

## Display informations about the data

In [8]:
#df.info()

## Drop 'ID' column

In [9]:
df = df.drop(['ID'], axis = 1)

In [10]:
#df

## Extract 'Reasons for Absence' column

### This list shows the categories of absenteeism. Each number represents a category

In [11]:
sorted(df['Reason for Absence'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

## Get dummies

In [12]:
reason_columns = pd.get_dummies(df['Reason for Absence'])

In [13]:
#reason_columns

## Check if some rows have missing values

#### 0: missing value || 1: single value

In [14]:
reason_columns['check'] = reason_columns.sum(axis = 1)

In [15]:
#reason_columns

### Check the vertical axis length

In [16]:
reason_columns['check'].sum(axis = 0)

700

### Check if we have different values from the "check" column

In [17]:
reason_columns['check'].unique()

array([1])

### Delete "check" column after the verifications

In [18]:
reason_columns = reason_columns.drop(['check'], axis = 1)

In [19]:
#reason_columns

## Delete column 0 from "reason_columns" variable

In [20]:
reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first = True)

In [21]:
#reason_columns

## Grouping the "Reason for Absence" columns

### Three steps:
- <ins>First step:</ins> add dummy variables on the current state of DateFrame (avoid duplicate information between "Reason for Absence" column and dummy variables).
- <ins>Second step:</ins> grouping the variables into the DataFrame (create group for each category).
- <ins>Third step:</ins> concatenate column values

### First step

In [22]:
df.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours'], dtype=object)

In [23]:
reason_columns.columns.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 21, 22, 23, 24, 25, 26, 27, 28])

In [24]:
df = df.drop(['Reason for Absence'], axis = 1)

In [25]:
#df

### Second step

In [26]:
reason_type_1 = reason_columns.loc[:, 1:14].max(axis = 1)
reason_type_2 = reason_columns.loc[:, 14:17].max(axis = 1)
reason_type_3 = reason_columns.loc[:, 18:21].max(axis = 1)
reason_type_4 = reason_columns.loc[:, 22:28].max(axis = 1)

In [27]:
#reason_type_1

### Third step

In [29]:
df = pd.concat([df, reason_type_1, reason_type_2, reason_type_3, reason_type_4], axis = 1)

In [31]:
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

## Rename the reasons columns

In [32]:
df.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [34]:
columns_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']

In [35]:
df.columns = columns_names

In [36]:
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_1,Reason_2,Reason_3,Reason_4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

## Reorder columns

In [37]:
column_name_reordered = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [39]:
df = df[column_name_reordered]

In [40]:
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

## 'Date' column

In [44]:
df_reason_mod = df.copy()

In [52]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = '%d/%m/%Y')

In [56]:
df_reason_mod['Date'].head()

0   2015-07-07
1   2015-07-14
2   2015-07-15
3   2015-07-16
4   2015-07-23
Name: Date, dtype: datetime64[ns]

### Check the 'Date' column Dtype

In [57]:
df_reason_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Reason_1                   700 non-null    uint8
 1   Reason_2                   700 non-null    uint8
 2   Reason_3                   700 non-null    uint8
 3   Reason_4                   700 non-null    uint8
 4   Date                       700 non-null    datetime64[ns]
 5   Transportation Expense     700 non-null    int64
 6   Distance to Work           700 non-null    int64
 7   Age                        700 non-null    int64
 8   Daily Work Load Average    700 non-null    float64
 9   Body Mass Index            700 non-null    int64
 10  Education                  700 non-null    int64
 11  Children                   700 non-null    int64
 12  Pets                       700 non-null    int64
 13  Absenteeism Time in Hours  700 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(8), uint8(4)
memory usage: 57.5 KB